<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>user authentication</title>
  </head>
  <body>
    <form class="" action="/auth" method="post">
      
    </form>

  </body>
</html>
