
<!-- consider adding front-end date input from a date drop-down -->

<!DOCTYPE html>
<html>

    <head>

    </head>

    <body>
        <div class="">

            <form class="new-activity" action="/api/activities" method="post">
              <label for="title">track an activity!</label>
              <input type="text" name="title"><br>

              <button type="submit" name="button">track activity</button>
            </form>

            <form class="new-stat" action="/api/activities/:id" method="post">
              <label for="stat">How many did you do today?</label>
              <input type="number" name="stat"><br>

              <button type="submit" name="button">add stat</button>
            </form>
        </div>

        <h3>Here's where everything else will be listed</h3>

    </body>
</html>
