<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="/styles.css">
    <meta charset="utf-8">
    <title>Stat Tracker</title>
  </head>
  <body>

    <div class="center-box">

        <div class="newuser-box">
            <h3>New user? Please register</h3>
            <form class="newUser" action="/" method="post">
              <label for="newusername">username</label>
              <input type="text" name="newusername">

              <label for="newpassword">password</label>
              <input type="password" name="newpassword">

              <button type="submit" name="submit-register">register</button>
            </form>
        </div>
    </div>




    <script src="./scripts.js" charset="utf-8"></script>
  </body>
</html>
