* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.center-box {
    width: 100%;
    height: 100%;
}

.login-box {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60vw;
    height: 90vh;
    border: 4px solid orangered;
    border-radius: 5px;
}
